<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

<!--<web-app>-->
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>DoAjaxServlet</servlet-name>
        <servlet-class>com.zhi.servlet.DoAjaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoAjaxServlet</servlet-name>
        <url-pattern>/validate.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-mvc.xml,classpath:spring-entity.xml,classpath:spring-dao.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
   <!--<jsp-config>-->
       <!--<jsp-property-group>-->
           <!--<url-pattern>/*</url-pattern>-->
           <!--<el-ignored>false</el-ignored>-->
           <!--<page-encoding>UTF-8</page-encoding>-->
       <!--</jsp-property-group>-->
   <!--</jsp-config>-->
</web-app>
